* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6.5rem;
    border: 2px solid black;
    font-size: 1.3rem;
}

.main-wrap {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.left,
.right {
    border: 2px solid orange;
    width: 50%;
    height: auto;
    /* background-color: #ddd; */
}

/* style for right side */

.form {
    padding: 1rem 1.5rem;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
}

/* general data stuling */
#photo-btn {
    border-radius: 10.98px;
    font-family: Arial;
    color: #363636;
    font-size: large;
    font-weight: bold;
    padding: 3rem 1.8rem;
    border: solid #727070 2.2px;
}

.general {
    padding: 1.2rem;
}

.general input {
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    background-color: #f4f0f0;
    padding: 5px;
    letter-spacing: 1.5px;
}

.general input:hover {
    background-color: #fff;
    color: #000;
}

.general div>p>span {
    display: inline-block;
    width: 45%;
}

.general p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.red {
    color: red;
}

.summary textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    padding: 5px 10px;
    letter-spacing: 1.2px;
}

/* styling for the skills on right */
.skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#skill-adder {
    margin-top: 0;
}

/* basic add button styling */
.add-btn {
    border-radius: 30px;
    padding: 5px .5rem;
    border: 2.5px solid gray;
    color: #363636;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 7px;
}

.sec-wrap {
    display: flex;
}

.sec-wrap input {
    border-radius: 5px;
    border: 1.5px solid gray;
    width: 8rem;
    font-size: medium;
    text-align: center;
}

.skill-preview {
    font-size: 16px;
    padding: 5px 8px;
    margin-left: 1.5rem;
    border: 2px solid #212121;
    border-radius: 8px;
}

.remove-skill {
    border-radius: 30px;
    padding: 5px .5rem;
    font-size: small;
    color: red;
    border: 0.5px solid gray;
    margin-left: -15px;
    font-weight: bolder;
}

.skill-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}


/* education styling */
.education {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.edu {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

legend {
    font-weight: 550;
    font-size: 1rem;
    padding: 5px 0;

}

.me {
    text-align: center;
}




/* this is the stylingg for the right side preview */
.preview {
    scale: 0.85;
    border: 2px solid black;
    /* padding: 25px; */
    line-height: 24px;
}

.resume-head {
    background-color: #363636;
    color: #fff;
    padding: 20px;
}

.resume-body {
    padding: 25px 20px;
}

.work-experience p,
.qualifications p,
.project p,
.certificate p {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.work-experience input,
.qualifications input,
.project input,
.certificate input,
.work-experience textarea,
.project textarea {
    width: 60%;
    padding: 5px;
    letter-spacing: 1px;
    resize: none;
}


.additional {
    display: none;
}